<mat-checkbox
  #showDetails
  [checked]="isChecked"
>Show Detail</mat-checkbox>
<br>
<div *ngIf="showDetails.checked">Some details...</div>
<br>
<mat-radio-group>
  <mat-radio-button value="Male">Male</mat-radio-button><br>
  <mat-radio-button value="Female" [checked]="isChecked">Female</mat-radio-button>
</mat-radio-group>
<br>
<mat-select>
  <mat-option
    *ngFor="let color of colors"
    [value]="color.id">{{ color.name }}</mat-option>
</mat-select>

<br>

<h4>Basic mat-select</h4>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>

<h4>Basic native select</h4>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>

  <br>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>